
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Nikhil Aggarwal</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
  </div>

</body>
</html>
